@import 'tailwindcss';

@theme {
  --color-muted-foreground: #a1a1aa;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
}

:root {
  --linkedin-color: #0a66c2;
  --bg-primary: #000;
  --bg-secondary: #FFF;
}

:root[class~="dark"] {
  --linkedin-color: white;
  --bg-primary: #FFF;
  --bg-secondary: #000;
}

/* Light mode */

.bg-primary {
  background: var(--bg-primary)
}

.bg-secondary {
  background: var(--bg-secondary)
}

/* Dark Mode */
.dark #rounded-logo circle {
  fill: white;
}

.dark #rounded-logo .letterD{
  fill: black;
  stroke: black;
}

.dark #rounded-logo .letterK{
  fill: black;
  stroke: black;
}

.dark .bg-primary {
  background: var(--bg-primary);
}

.dark .bg-secondary{
  background: var(--bg-secondary)
}
