@import 'tailwindcss';

@theme {
  --color-muted-foreground: #a1a1aa;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
}

:root {
  --linkedin-color: #0a66c2;
  --bg-primary: #000;
  --bg-secondary: #FFF;
}

:root[class~="dark"] {
  --linkedin-color: white;
  --bg-primary: #FFF;
  --bg-secondary: #000;
}

/* Light mode */
.bg-primary {
  background: var(--bg-primary)
}

.bg-secondary {
  background: var(--bg-secondary)
}
