.transition-fadein {
  animation-duration: 1s;
  animation-name: fadein;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

.transition-opacity {
  animation-duration: 1s;
  animation-name: opacity;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.transition-fadein-right {
  animation-duration: 1s;
  animation-name: fadein-right;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}