.transition-fadein-down {
  animation-duration: 1s;
  animation-name: fadein-down;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadein-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

.transition-fadein-up {
  animation-duration: 1s;
  animation-name: fadein-up;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadein-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

.transition-opacity {
  animation-duration: 1s;
  animation-name: opacity;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.transition-fadein-right {
  animation-duration: 1s;
  animation-name: fadein-right;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

.transition-fadein-left {
  animation-duration: 1s;
  animation-name: fadein-left;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

.loader svg {
  stroke-dasharray: 1149;
  animation: 2s fillSvg ease-in, 1s fadeout ease-out;
  fill: var(--fill-primary);
  animation-duration: 2s, 1s; 
  animation-delay: 0s, 2s;
  animation-fill-mode: forwards;
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 1149;
    fill: var(--fill-secondary);
  }

  100% {
    stroke-dashoffset: 0;
    fill: var(--fill-primary);
  }
}

@keyframes fadeout {
  0% {
    opacity: 100;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}
