body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#rounded-logo-black {
    stroke-dasharray: 1149;
    animation: 2s fillSvgWhite ease-in;
    fill: white;
}

@keyframes fillSvgWhite {
    0% {
        stroke-dashoffset: 1149;
        fill: black;
    }

    100% {
        stroke-dashoffset: 0;
        fill: white;
    }
}


#rounded-logo-white {
    stroke-dasharray: 1149;
    animation: 2s fillSvgBlack ease-in;
    fill: black;
}

@keyframes fillSvgBlack {
    0% {
        stroke-dashoffset: 1149;
        fill: white;
    }

    100% {
        stroke-dashoffset: 0;
        fill: black;
    }
}